Temp/*
obj/*
builds/*
Library/*
sysinfo.txt
ProjectSettings/*
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/*.meta
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Transcendence/.vs/Transcendence/v14/.suo
Transcendence/Assets/image/DeckbuilderImages/Corel Auto-Preserve.meta
Transcendence/Assets/scripts/xml/2cards.xml.meta
Transcendence/Assets/image/CardTemplate/Thumbs.db.meta
Transcendence/Assets/image/CardTemplate/Rounded/Thumbs.db.meta
Transcendence/Assets/scripts/xml/3cards.xml.meta
Transcendence/Assets/image/DeckBuilder/Thumbs.db.meta
Transcendence/Assets/image/Field/Thumbs.db.meta
Transcendence/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Transcendence/Assets/Resources/Thumbs.db.meta
